<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - HomeBudget</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themecss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="main">
        <header>
            <div class="wrapper">
                <div class="float-left">
                    <h1><a id="logo" href="/">Home Budget</a></h1>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            </div>
            <nav>
                <nav>
                    <ul id="menu">
                        <li class="alpha" @((ViewContext.RouteData.GetRequiredString("controller") == "Home") && (ViewContext.RouteData.GetRequiredString("action") == "Dashboard") ? " id=menu_active" : "")>
                            <a href="@Url.Action("Dashboard", "Home")"><span><span>Home</span></span></a></li>
                        <li @(ViewContext.RouteData.GetRequiredString("controller") == "Budget" ? " id=menu_active" : "")>
                            <a href="@Url.Action("Index", "Budget")"><span><span>Budget</span></span></a></li>
                        <li @(ViewContext.RouteData.GetRequiredString("controller") == "RecurrentBudget" ? " id=menu_active" : "")>
                            <a href="@Url.Action("Index", "RecurrentBudget")"><span><span>Recurrent</span></span></a>
                        </li>
                        <li @(ViewContext.RouteData.GetRequiredString("controller") == "Household" ? " id=menu_active" : "")>
                            <a href="@Url.Action("Index", "Household")"><span><span>Household</span></span></a>
                        </li>
                        <li @(ViewContext.RouteData.GetRequiredString("controller") == "BudgetCategory" ? " id=menu_active" : "")>
                            <a href="@Url.Action("Index", "BudgetCategory")"><span><span>Categories</span></span></a>
                        </li>
                        <li class="omega" @((ViewContext.RouteData.GetRequiredString("controller") == "Home") && (ViewContext.RouteData.GetRequiredString("action") == "About") ? " id=menu_active" : "")>
                            <a href="@Url.Action("About", "Home")"><span><span>About</span></span></a>
                        </li>
                    </ul>
                </nav>
            </nav>

            @if (IsSectionDefined("Dashboard"))
            {

                <div class="wrapper">
                    <div class="text">
                        @RenderSection("Dashboard")
                    </div>
                </div> 
            }
        </header>

        @if (!((ViewContext.RouteData.GetRequiredString("controller") == "Home") && (ViewContext.RouteData.GetRequiredString("action") == "Dashboard"))) {

        @RenderSection("featured", required: false)
        <section id="content">
            <div class="wrapper">
                <div class="wrapper">
                    <div class="box bot pad_bot2">
                        <div class="pad">
                            <article>
                                @if (ViewContext.RouteData.GetRequiredString("controller") == "Budget")
                                {



                                    <nav>
                                        <ul id="budget-menu">
                                            <li class="alpha" @(ViewContext.RouteData.GetRequiredString("action") == "Index" ? "id=menu_active" : "")>
                                                <a href="@Url.Action("Index", "Budget")"><span><span>All transactions</span></span></a></li>
                                            <li @(ViewContext.RouteData.GetRequiredString("action") == "Recurrent" ? " id=menu_active" : "")>
                                                <a href="@Url.Action("Recurrent", "Budget")"><span><span>Recurrent</span></span></a></li>
                                            <li class="omega" @(ViewContext.RouteData.GetRequiredString("action") == "NonRecurrent" ? " id=menu_active" : "")>
                                                <a href="@Url.Action("NonRecurrent", "Budget")"><span><span>Non recurrent</span></span></a></li>
                                        </ul>
                                    </nav>
                                }
                                @if (ViewContext.RouteData.GetRequiredString("controller") == "Household")
                                {

                                    <nav>
                                        <ul id="budget-menu" class="submenu">
                                            <li class="alpha" @(ViewContext.RouteData.GetRequiredString("action") == "Index" ? "id=menu_active" : "")>
                                                <a href="@Url.Action("Index", "Household")"><span><span>Approved</span></span></a></li>
                                            <li class="omega" @(ViewContext.RouteData.GetRequiredString("action") == "Requests" ? "id=menu_active" : "")>
                                                <a href="@Url.Action("Requests", "Household")"><span><span>Requests</span></span></a></li>
                                        </ul>
                                    </nav>
                                }
                                @RenderBody()
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        }
    </div>
    <footer>
        <div class="content-wrapper">
            <p>&copy; @DateTime.Now.Year - HomeBudget</p>
        </div>
    </footer>
    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/themejs")
    @RenderSection("scripts", required: false)

    <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
