@{
    ViewBag.Title = "Dashboard";
}

@section Dashboard {

<table>
    <thead>
           <tr>
               <th></th>
               <th>Income</th>
               <th>Cost</th>
               <th>Balance</th>
           </tr>
    </thead>
    <tbody>
        <tr><td>Current</td>
           <td>@ViewBag.currentIncome</td>
           <td>@ViewBag.currentCost</td>
           <td>@ViewBag.currentBalance</td>
        </tr>
        <tr><td>Previous</td>
           <td>@ViewBag.previousIncome</td>
           <td>@ViewBag.previousCost</td>
           <td>@ViewBag.previousBalance</td>
        </tr>
        <tr><td>Two months ago</td>
           <td>@ViewBag.bpreviousIncome</td>
           <td>@ViewBag.bpreviousCost</td>
           <td>@ViewBag.bpreviousBalance</td>
        </tr>
    </tbody>
</table>
}