@model Core.Models.Budget.BudgetItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BudgetItem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BudgetCategory.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BudgetCategory.Name)
    </div>
</fieldset>
<p>
    @if (Model.IsApproved.HasValue && Model.IsApproved == false)
    {
        @Html.ActionLink("Approve", "Approve", new { id=Model.Id })  @:|
    }
    @if (Model.UserProfile.UserId == ViewBag.userId)
    {
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) @:|
    }                                                         
    @Html.ActionLink("Back to List", "Index")
</p>
