@model IEnumerable<Core.Models.Budget.BudgetItem>

@{
    ViewBag.Title = "View your expenses and incomes";
}

<h2>View your expenses and incomes</h2>

<p>
    @Html.ActionLink("Add expense/income", "Create")
</p>
<table>
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
       
        <th>
            Category
        </th>
        @if (ViewBag.hasHousehold)
        {
            <th>User Name</th>
        }
        @if (ViewContext.RouteData.GetRequiredString("action") == "Recurrent")
        {
            <th>Approved</th>
        }
        <th></th>
    </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetCategory.Name)
        </td>
        @if (ViewBag.hasHousehold)
        {
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.UserName)
            </td>
        }
        @if (ViewContext.RouteData.GetRequiredString("action") == "Recurrent")
        {
            <td>
             @if(item.IsApproved.HasValue && item.IsApproved == true){
                @:Yes
             } else {
                @:No
             }
            </td>
        }
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
            @if (item.UserProfile.UserId == ViewBag.userId)
            {
                @:|
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) @:|
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            }
        </td>
    </tr>
}

</table>
