@model Core.Models.Budget.RecurrentBudget

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RecurrentBudget</legend>
        <div class="editor-label">
               <label style="display:inline"><input id="etype_1" type="radio" name="etype" checked="checked" style="width:auto" />Expense</label>
               <label style="display:inline"><input id="etype_2" type="radio" name="etype" style="width:auto" /> Income</label>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            <input id="datepicker" class="text-box single-line" type="text" value="" autocomplete="off" />
            @Html.HiddenFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Count)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Count)
            @Html.ValidationMessageFor(model => model.Count)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        
       <div class="editor-field">
            @Html.Display("Category")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.BudgetCategory.Id, new SelectList(ViewBag.Categories, "value", "text"))
            @Html.ValidationMessageFor(model => model.BudgetCategory.Id)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/Scripts/jquery-ui-1.8.20.min.js")
    @Styles.Render("~/Content/themes/base/jquery.ui.core.css", "~/Content/themes/base/jquery.ui.datepicker.css", "~/Content/themes/base/jquery.ui.theme.css")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datepicker").datepicker({
                altField: "#StartDate",
                altFormat: "yy-mm-dd 00:00:00"
            }).val($('#StartDate').val());
            $("form").submit(function () {
                if ($("#etype_1").is(":checked") && $("#Amount").val() > 0) {
                    $("#Amount").val($("#Amount").val() * -1);
                }
            });
        });
    </script>
}
