@model Core.Models.Budget.HouseHold

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>HouseHold</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsApproved)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsApproved)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApproveDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApproveDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RequestMessage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequestMessage)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
